/* body {
    background-image: url('/assets/img/profil.jpg');
} */

.text-color-grey {
    color: #696984;
}

.row {
    width: 100%;
}

.text-left {
    text-align: left;
}

/* INDEX */

#jumbotron {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 260px;
}

.container {
    place-items: center;
    text-align: center;
    /* margin-top: 10rem; */
}

.w-100 {
    width: -webkit-fill-available;
    height: 300px;
}

#raradin-desk {
    font-size: 18px;
}

.section-2-index {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.card-post {
    box-shadow: 5px 10px 18px #888888;
    outline-color: solid black 2px;
}

/* .container .card {
    background-color: #ffffff;
    margin-top: 9rem;
    border-radius: 10   px;
}

.card-title,
.card-text {
    font-weight: 700;
}

.card-text{
    color: #FFCC00;
}

.card-body {
    padding: 5rem;
}

.btn-warning{
    margin-top: 3rem;
    color: white;
    font-weight: 500;
} */

/* MAIN */
.nav-title {
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding-left: 1rem;
}

.navbar-nav {
    float: inline-end;   
}

.nav-item {
    padding-right: 5rem;
}

.main-title {
    color: white;
    font-weight: 700;
    padding-top: 12rem;
}

.title {
    margin-bottom: 3rem;
}

.card-blog {
    text-align: start;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.section-3-title {
    margin-bottom: 2rem;
    font-weight: 700;
    margin-left: 20px;
}

.card-profile {
    width: 350px;
    height: 400px;
}

.section-3-main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* .section-3-main .container h1 {
    paddi
} */

.section-3-main .container {
    text-align: -webkit-center;
}

/* DETAIL BLOG */
.line-black {
    border: 1px solid black;
    width: 100%;
}

.card-genre {
    background-color: #FFF1B9;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    padding-top: 2px;
}

.row .col{
    padding: 0%;
}

.text-name {
    font-weight: 600;
}

.card-comment {
    background-color: #FFF1B9;
    width: 400px;
    border-radius: 10px;
    margin-top: 10px;
}

/* BLOG */

.deskripsi {
    font-size : 13px ;
}

.judul {
    font-weight: 700;
}

.creator {
    font-size : 14px;
}
